<%@order_by = session[:order] || "title"%>
<% session[:pg] = params[:page] %>
<% @ads = Kaminari.paginate_array(@q.result(distinct: true).order(@order_by)).page(params[:page]).per(20) %>

<div class="m20h p20h col-sm-12" id="annunci">

  <div class="col-xs-12 ">
      <div class="col-sm-12">
      <%= search_form_for @q, url: admin_ads_path do |f| %>
      <div class="field col-sm-12">
      <%= f.search_field :title_or_base_cont, {:placeholder => "cerca per nome o per luogo e premi invio", :autocomplete => "off"} %>
      </div>
      <%= f.submit "CERCA", :class => "hidden" %>
      <%end%>
    </div>


  <div class="pull-left p20h" >

    <% AdCategory.all.each do |ac|%>
      <span class="bold big"><%= ac.name %></span> <span class="p10w evidence"><%= ac.ads.count%></span> <br/>
    <% end %>

  </div>


  <div class="pull-right">
  <%= paginate @ads %>
  </div>
</div>
<hr>
<table class="table" data-order='[[ 0, "asc" ]]'>
  <thead>
    <th> Utente <a href="/annunci/set_ads_order?order=title asc" class="small underline">ASC</a> <a href="/annunci/set_ads_order?order=title desc" class="small underline">DESC</a></th>
    <th>Telefono</th>
    <th> Luogo <a href="/annunci/set_ads_order?order=address asc" class="small underline">ASC</a> <a href="/annunci/set_ads_order?order=address desc" class="small underline">DESC</a></th>
    <th>Abstract</th>
    <th>Descrizione</th>
    <th>Foto</th>
    <th>Vis</th>
    <th>Note</th>
    <th>Opzioni</th>
  </thead>

<tbody>
<%@ads.each do |ad|%>
  <tr style="opacity:<%= ad.active ? '' :'0.5'%>;">
    <td data-search="<%= ad.user.username%>" data-order="<%= ad.user.username%>"><%= ad.user.username%></td>
    <td><%= ad.user.tel%></td>
    <td><%= ad.base%></td>
    <td>
      <textarea class="abstract" name="ad_<%= ad.id.to_s%>_abstract" id="ad_<%= ad.id.to_s%>_abstract" data-ad="<%= ad.id%>" cols="30" rows="10"><%= ad.abstract%></textarea>
      <br/><a href="javascript:void(0)" class="small bold changeAbstract" data-adid="<%= ad.id%>">Conferma</a>
    </td>
    <td>
      <textarea name="ad_<%= ad.id.to_s%>" id="ad_<%= ad.id.to_s%>" data-ad="<%= ad.id%>" cols="30" rows="10"><%= ad.description%></textarea>
      <br/><a href="javascript:void(0)" class="small bold changeDescription" data-adid="<%= ad.id%>">Conferma</a>
    </td>
    <td>
        <%= link_to "foto (#{ad.pictures.count})", "javascript:void(0)", {"data-toggle"=>"modal", "data-target"=>"#fotopreview",:class => "showpic bold small", "data-adid" => ad.id}%>
        <!-- <div class="pictures" data-adid="<%= ad.id%>" id="ad_<%=ad.id.to_s%>_pictures"></div> -->
    </td>
    <td><%= ad.views_count || 0%></td>
    <td>
      <textarea class="note" name="ad_<%= ad.id.to_s%>_notes" id="ad_<%= ad.id.to_s%>_notes" data-ad="<%= ad.id%>" cols="30" rows="10"><%= ad.notes%></textarea>
      <br/><a href="javascript:void(0)" class="small bold changeNotes" data-adid="<%= ad.id%>">Conferma</a>
    </td>
    <td>
      <%= link_to "Visualizza", ad%><br/>
      <%= link_to "Modifica", edit_ad_path(ad)%><br/>
      <%= link_to (ad.active ? 'Sospendi' : 'Attiva'), toggle_ad_path(ad)%><br/>
      <%= link_to 'Elimina', ad, method: :delete, data: { confirm: 'Sei sicura?' } %></td>
  </tr>
<%end%>
</tbody>
</table>

</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="fotopreview" style="background:rgba(0,0,0,.8)">
  <div class="modal-dialog modal-dialog modal-lg" role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Foto annuncio</h4>
      </div>
      <div class="modal-body" id="adpictures">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="pull-right">
<%= paginate @ads %>
</div>
<%content_for :scripts do %>
<script>
  $(document).ready(function(){



    // $('#annunci table').DataTable({});


      function deletePicture(id,_div){
        utils.delete({
            url: "/pictures/"+id+".json",
             callback: function(){
                $(_div).hide();
                utils.noti({
                    message: "Foto eliminata con successo"
                })
            },
            fallback: function(){
              $(_div).hide()
              utils.noti({
                  message: "Foto eliminata con successo"
              })
            }
        })
      }



      $(".changeAbstract").on("click",function(){
        var _id = $(this).attr("data-adid");
        var _data = {
          "ad" : {
            "abstract": $("#ad_"+_id+"_abstract").val()
          }
        };
        utils.put({
            url: "/annunci/"+_id+".json",
            data : _data,
            callback: function(){
              utils.noti({
                  message: "Abstract modificato con successo"
              })
            }
        })
      })


      $(".changeDescription").on("click",function(){
        var _id = $(this).attr("data-adid");
        var _data = {
          "ad" : {
            "description": $("#ad_"+_id).val()
          }
        };
        utils.put({
            url: "/annunci/"+_id+".json",
            data : _data,
            callback: function(){
              utils.noti({
                  message: "Descrizione modificata con successo"
              })
            }
        })
      })

      $(".changeNotes").on("click",function(){
        var _id = $(this).attr("data-adid");
        var _data = {
          "ad" : {
            "notes": $("#ad_"+_id+"_notes").val()
          }
        };
        utils.put({
            url: "/annunci/"+_id+".json",
            data : _data,
            callback: function(){
              utils.noti({
                  message: "Nota modificata con successo"
              })
            }
        })
      })


    function reorderPictures(){
      $.each($("#adpictures li"), function(i,e){
          utils.put({
              url: "/pictures/"+$(e).attr("data-id")+".json",
              data: {
                order_nr: i
              },
              callback: function(){
                console.log("ok "+i);
              }
          })
      })
    }


      $('.showpic').on("click",function(){
          var _id = $(this).data("adid");
          $("#adpictures").html("");
          $( "#adpictures" ).sortable({
              stop: function(){
                reorderPictures();
              }
          });
          $( "#adpictures" ).disableSelection();

          utils.get({
            url: "/annunci/"+_id+"/pictures.json",
            callback: function(res){
              $.each(res, function(i,p){
                var _div = $("<li />").css({
                  width: "150px",
                  height: "150px",
                  display: "inline-block",
                  margin: "5px"
                })
                .attr({
                  "data-id" : p.id
                })
                .appendTo($("#adpictures"));
                var _img = $("<img />");
                $(_img).attr({
                    src: p.cropped
                }).css({
                  width: "150px",
                  height: "150px",
                  position: "absolute"
                }).appendTo(_div);

                var _del = $("<small />");

                $(_del).css({
                    "padding" : "10px",
                    "background" : "red",
                    "color" : "#fff",
                    "position" : "absolute",
                    "cursor" : "pointer"
                })
                .attr({
                    "data-p" : p.id
                })
                .addClass("del").appendTo(_div)
                .on("click", function(){
                    var q = confirm("Sicuro?");
                    if (q === true) {
                      deletePicture(p.id,_div )
                    }else{
                    }
                })


              });
            }
          })


      })




  })
</script>
<% end %>
