<%= form_for(ad) do |f| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if params[:action] != "edit"%>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%end%>
  <div class="row">
  <div class="col-sm-12 field p20h m10h">
    <%= f.label :ad_category_id, "Scegli la tua categoria" %><br/>
      <% AdCategory.all.each do |adc|%>
      <div class="col-xs-12 p5h">
          <input type="radio" class="adc_cat" data-id="<%= adc.id%>" name="adc" id="<%= adc.name%>"> <label class="p20w" for="<%= adc.name%>"><%= adc.name%></label>
      </div>
    <%end%>
  <%= f.hidden_field :ad_category_id, :value => AdCategory.all.first.id %>
  </div>
  </div>


  <div class="block field p20h ">
    <%= f.label :base, "Indica la tua città di base" %><br/>
    <%= f.collection_select :base, City.all, :name, :full_name, {:class => "form-control"} %> </br>
    <small class="bold">N.B.: inserisci la città dove vivi e lavori</small>
  </div>

  <div class="block field p20h ">
    <%= f.label :secondary_base, "Indica altre città di lavoro" %><br/>
    <div id="selects_container"></div>
    <%= f.hidden_field :secondary_base %>
  </div>

  <div class="block field p20h ">
    <%= f.label :zone, "Indica la tua zona o quartiere" %>
    <%= f.text_field :zone %>
    <small class="bold">N.B.: inserisci la zona dove lavori</small>
  </div>

  <div class="block field p20h ">
    <%= f.label :address, "Indica il tuo indirizzo" %>
    <%= f.text_field :address %>
    <small class="bold">N.B.: l'indirizzo è molto importante affinchè l'utente possa trovarti più facilmente quando si trova nella tua zona</small>
  </div>


  <div class="field p20h">
    <%= f.label :no_sms_no_private, "Il tuo numero di telefono" %>
    <p class="big"><%= @ad.user.tel%></p>
    <%= f.check_box :no_sms_no_private %> <span class="p10w">Non rispondo a SMS e chiamate anonime</span>

  </div>

  <div class="field">
  <div class="field p20h">
    <%= f.label :description, "Inserisci la tua descrizione" %>
    <%= f.text_area :description %>
    <small class="bold">N.B.: massimo 1000 caratteri, spazi inclusi</small>

  </div>

  <div class="field p20h">
    <%= f.label :hour, "Inserisci i tuoi orari di lavoro" %> <br/><br/>
    <%= f.check_box :always_open%>
    <%= f.label :always_open, "disponibile sempre 24/7",  {:class =>"p10w"} %>
    <span class="text-left p20h italic block">Oppure seleziona giorni e orari di lavoro come segue:</span>

    <span class="bold">Lunedì</span><br/>
    dalle <%= f.select :mhf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :mht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Martedì</span>
    <br/>
    dalle <%= f.select :thf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :tht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Mercoledì</span>
    <br/>
    dalle <%= f.select :whf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :wht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Giovedì</span>
    <br/>
    dalle <%= f.select :tdhf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :tdht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Venerdì</span>
    <br/>
    dalle <%= f.select :fhf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :fht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Sabato</span>
    <br/>
    dalle <%= f.select :shf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :sht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    <br />
    <hr>
    <span class="bold">Domenica</span>
    <br/>
    dalle <%= f.select :sshf, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>
    alle <%= f.select :ssht, ((1..24).map {|i| [i,i] }), :prompt => "seleziona" %>




    </div>


  <div class="field p20h">
    <%= f.label :description, "Inserisci le tue foto" %>


    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>


    <div class="modal-body" id="adpictures">

    </div>

  </div>





  <div class="field p20h">
    <%= f.check_box :in_tour %>
    <%= f.label :in_tour, "Sei in tour?" %>
  </div>


  <div class="col-xs-12 hidden" id="ubiquity_area">
    <table class="table">
      <thead>
          <th>Dove?</th>
          <th>Dal</th>
          <th>Al</th>
          <th></th>
          <th></th>
      </thead>
      <tbody>

      <% @ad.ubiquities.each do |ubq|%>
      <tr class="ubiquity_row">
          <td>
            <div class="field">
              <input type="text" class="ubaddress" value="<%= ubq.address %>" placeholder="Citta, indirizzo...">
            </div>
          </td>
          <td>
            <div class="field">
              <input type="text" class="ubfrom" value="<%= ubq.from.strftime('%d-%m-%Y') %>">
            </div>
          </td>
          <td>
            <div class="field">
              <input type="text" class="ubto" value="<%= ubq.to.strftime('%d-%m-%Y') %>">
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" data-id="<%= ubq.id%>" data-ad="<%=@ad.id%>" class="btn btn-small m10h addubiquity">modifica</a>
          </td>
          <td><%= link_to 'elimina', ubq, method: :delete, data: { confirm: 'Sicura?' }, :class => "btn btn-small m10h" %></td>
      </tr>
      <%end%>


        <tr class="ubiquity_row">
            <td>
              <div class="field">
                <input type="text" class="ubaddress" id="first_ubaddress" placeholder="Citta, indirizzo...">
              </div>
            </td>
            <td>
              <div class="field">
                <input type="text" class="ubfrom">
              </div>
            </td>
            <td>
              <div class="field">
                <input type="text" class="ubto">
              </div>
            </td>
            <td>
              <a href="javascript:void(0)" data-ad="<%=@ad.id%>" class="btn btn-small m10h addubiquity">aggiungi</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>









  <div class="actions">
    <div class="row">
    <div class="col-sm-6">
      <%= f.submit "Conferma", :class => "btn btn-system pull-right" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "Visualizza", @ad, :class => "btn btn-system block pull-right numberhighlight", :style => "border:none !important;" %>
    </div>
  </div>
  </div>
</div>

<% end %>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="fotopreview" style="background:rgba(0,0,0,.8)">
  <div class="modal-dialog modal-dialog modal-lg" role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Foto annuncio</h4>
      </div>
      <div class="modal-body" id="adpictures">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%content_for :scripts do %>
  <script>
      $(document).ready(function(){

        function uniqId() {
            return Math.round(new Date().getTime() + (Math.random() * 100));
          }

        $(document).on("change","#ad_in_tour",function(){
            if($(this).is(":checked")){
                $("#ubiquity_area").removeClass("hidden");
            }else{
              $("#ubiquity_area").addClass("hidden");
            }
        })

        $("#ad_in_tour").trigger("change")

        $(document).on("click","#send",function(){
            $("form").submit();
        })


        function addRow(tr){
            var _uniqId = uniqId();
            var _tr = $(tr).clone().appendTo($(tr).parent("tbody"));
            $("input", _tr).val("");
            $(".ubaddress", _tr).attr({
                id: "addr_"+_uniqId
            });
            $("a", _tr).html("aggiungi").removeAttr("data-id");

            // utils.geoaddress("addr_"+_uniqId)
        }

        $(document).on("click",".addubiquity",function(){
            var _that = $(this);
            var ad = $(this).data("ad");
            var tr = $(this).parents("tr");
            var _ubaddress = $(".ubaddress", tr).val();
            var _ubfrom = $(".ubfrom", tr).val();
            var _ubto = $(".ubto", tr).val();

            if(_ubaddress && _ubfrom && _ubto){
                var obj = {
                  "ubiquity" : {
                    address: _ubaddress,
                    from: _ubfrom,
                    to: _ubto,
                    ad_id:ad
                  }
                }
                if($(_that).attr("data-id")){
                  utils.put({
                      url : "/ubiquities/"+$(_that).attr("data-id")+".json",
                      data: obj,
                      callback: function(res){
                          $(_that).attr({
                            "data-id": res.id
                          })
                      },
                      fallback: function(){
                        console.log("KO");
                      }
                  })
                }else{
                  utils.post({
                      url : "/ubiquities.json",
                      data: obj,
                      callback: function(res){
                          $(_that).attr({
                            "data-id": res.id
                          }).html("modifica")
                          addRow(tr);
                      },
                      fallback: function(){
                        console.log("KO");
                      }
                  })
                }





            }else{
              alert("Compila tutti i campi!")
            }


        })


        utils.calendar({
            field : $(".ubfrom"),
            callback: function(){}
        });

        utils.calendar({
          field : $(".ubto"),
          callback: function(){}
        });


        $(document).on("click",".adc_cat",function(){
            $("#ad_ad_category_id").val($(this).attr("data-id"))
        })


        utils.calendar({
            field : $("#ad_from")
        });
        utils.calendar({
            field : $("#ad_to")
        });

        // utils.geoaddress("first_ubaddress")
        // utils.geoaddress("ad_address")
        // utils.geoaddress("ad_base")
        //

        $('#ad_base').clone().attr('id', 'secondary_base_1').attr("name","ad[secondary_base_1]").css({
          "width": "30%",
          "margin" : "1%"
        }).addClass("secbase").val("").appendTo('#selects_container');
        $('#ad_base').clone().attr('id', 'secondary_base_2').attr("name","ad[secondary_base_2]").css({
          "width": "30%",
          "margin" : "1%"
        }).addClass("secbase").val("").appendTo('#selects_container');
        $('#ad_base').clone().attr('id', 'secondary_base_3').attr("name","ad[secondary_base_3]").css({
          "width": "30%",
          "margin" : "1%"
        }).addClass("secbase").val("").appendTo('#selects_container');

        $(document).on("change", ".secbase", function(){
            var _val1 = $("#secondary_base_1").val() ? $("#secondary_base_1").val()+"," : "" ;
            var _val2 = $("#secondary_base_2").val() ? $("#secondary_base_2").val()+"," : "" ;
            var _val3 = $("#secondary_base_3").val() ? $("#secondary_base_3").val() : "" ;

            var _str = _val1+_val2+_val3;
            $("#ad_secondary_base").val(_str)
        })

      })


      function deletePicture(id,_div){
        utils.delete({
            url: "/pictures/"+id+".json",
             callback: function(){
                $(_div).hide();
                utils.noti({
                    message: "Foto eliminata con successo"
                })
            },
            fallback: function(){
              $(_div).hide()
              utils.noti({
                  message: "Foto eliminata con successo"
              })
            }
        })
      }



      function reorderPictures(){
        $.each($("#adpictures li"), function(i,e){
            utils.put({
                url: "/pictures/"+$(e).attr("data-id")+".json",
                data: {
                  order_nr: i
                },
                callback: function(){
                  console.log("ok "+i);
                }
            })
        })
      }


            var _id = "<%= @ad.id%>";
            $("#adpictures").html("");
            $( "#adpictures" ).sortable({
                stop: function(){
                  reorderPictures();
                }
            });
            $( "#adpictures" ).disableSelection();

            utils.get({
              url: "/annunci/"+_id+"/pictures.json",
              callback: function(res){
                $.each(res, function(i,p){
                  var _div = $("<li />").css({
                    width: "150px",
                    height: "150px",
                    display: "inline-block",
                    margin: "5px"
                  })
                  .attr({
                    "data-id" : p.id
                  })
                  .appendTo($("#adpictures"));
                  var _img = $("<img />");
                  $(_img).attr({
                      src: p.cropped
                  }).css({
                    width: "150px",
                    height: "150px",
                    position: "absolute"
                  }).appendTo(_div);

                  var _del = $("<small />");

                  $(_del).css({
                      "padding" : "10px",
                      "background" : "red",
                      "color" : "#fff",
                      "position" : "absolute",
                      "cursor" : "pointer"
                  })
                  .attr({
                      "data-p" : p.id
                  })
                  .addClass("del").appendTo(_div)
                  .on("click", function(){
                      var q = confirm("Sicuro?");
                      if (q === true) {
                        deletePicture(p.id,_div )
                      }else{
                      }
                  })


                });
              }
            })



  </script>

<%end%>
