<div class="col-sm-12 m20h">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#annunci" aria-controls="annunci" role="tab" data-toggle="tab">Annunci</a></li>
    <li role="presentation"><a href="#utenti" aria-controls="utenti" role="tab" data-toggle="tab">Clienti</a></li>
    <li role="presentation"><a href="#breakpoints" aria-controls="breakpoints" role="tab" data-toggle="tab">Caratteristiche</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Proprietà</a></li>
    <li role="presentation"><a href="#queries" aria-controls="queries" role="tab" data-toggle="tab">Link rapidi</a></li>
    <li role="presentation"><a href="#defaults" aria-controls="defaults" role="tab" data-toggle="tab">Testi</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="annunci">
      <%= render "ads/all"%>

    </div>
    <div role="tabpanel" class="tab-pane" id="utenti">
      <%= render "users/all"%>
    </div>
    <div role="tabpanel" class="tab-pane" id="breakpoints">
      <%= render "breakpoints/all"%>

    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <%= render "properties/all"%>

    </div>
    <div role="tabpanel" class="tab-pane" id="queries">
      <%= render "custom_queries/all"%>

    </div>
    <div role="tabpanel" class="tab-pane" id="defaults">
      <%= render "defaults/all"%>

    </div>

  </div>

</div>
