<%@cat = AdCategory.find_by_slug(params[:category]) || AdCategory.all.first %>
<div class=" col-sm-12 p20h">
  <div class="text-right" style="z-">
    <a href="/"><i class="glyphicon glyphicon-remove"></i> <span style="position:relative;top:-1px">Indietro</span></a>
  </div>
  <div class="col-xs-12 no-p">
    <h3 class="col-xs-12 no-p">Città</h3>
      <div class="col-xs-6 no-p">
        <%@cat.ads.where({:base => "Roma"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-11 p5h m5h inline-block " href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= ad.base%>/annunci#ads"><span class="p5h   text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
        <%end%>
      </div>
      <div class="col-xs-6">
        <div class="row">
        <%@cat.ads.where({:base => "Milano"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block " href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= ad.base%>/annunci#ads"><span class="p5h   text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
        <%end%>
        </div>
      </div>
  </div>
  <hr>

    <div class="col-xs-12 no-p">
    <%@cat.ads.group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
    <% if ad.amount > 1 && ad.base.length > 0 %>
    <div class="col-xs-6 no-p">

        <a class="col-sm-3 col-xs-12 p5h m5h inline-block " href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= ad.base%>/annunci#ads"><span class="p5h   text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
    </div>
    <%end%>
    <%end%>
    </div>
</div>
