<div class="m20h"></div>
<div class="m20h"></div>
<div class="m20h"></div>
<div class="col-sm-8 white p20h m20h col-sm-offset-2">
<h3 class="text-center">Il tuo annuncio</h3>

<div class"white">
<%= render 'form', ad: @ad %>
</div>
</div>
