<%@cat = AdCategory.find_by_slug(params[:category]) || AdCategory.all.first %>


<div class="row p20h hidden-xs" id="hero">
  <div class="p20h hidden-xs"></div>
  <div class="p20h hidden-xs"></div>
<%= render partial: "layouts/searchframe" %>



</div>


<div class="visible-xs">
  <%= render partial: "layouts/mobile_searchframe" %>

</div>




</div>



<hr class="col-sm-12">


<% if @ads.size > 0%>
<div class="col-sm-12 m10h text-right hidden-xs">
    <p class="col-sm-12 bold">VISUALIZZA</p>
    <div class="col-sm-12">
    <a href="javascript:void(0)" data-size="big" class="change_size p20w">immagini grandi</a>
    <a href="javascript:void(0)" data-size="small" class="change_size">immagini piccole</a>
    </div>
</div>
<%end%>


<div class="col-sm-12 m20h" id="ads">

  <% if @ads.size == 0%>
    <p class="text-center big">Nessun risultato trovato,<br/>prova utilizzando dei criteri di ricerca più generici, grazie!</p>
  <%end%>

<%@ads.each do |ad|%>
  <% if ad.pictures.size > 0%>
  <div class="col-sm-3 col-xs-12 p5h m10h adpreview">
    <%begin%>


        <div data-href="/accompagnatrici/<%= ad.slug%>" class="ad bigad col-sm-12 text-white" style="background-image:url('https://dqg7oiepb9xwd.cloudfront.net<%= ad.pictures.first.attachment.url(:original)%>')">

      <% if ad.in_tour%>
          <img src="/assets/tour-ico.png" class="tour_ico" alt="">
      <%end%>

      <% if ad.new_photo%>
          <img src="/assets/new-pics.png" class="new_pics" alt="">
      <%end%>
			<div style="position:absolute; padding-top:100%;bottom:0;width:100%;left: 0" class="p10w p10h evdnc">
					<p class=" bold italic text-white text-left no-m no-p p20h"><%= ad.abstract%></p>

			</div>

      </div>


        <%begin%>
      <div style="position:relative; top:10px;">
          <h4 style="color:#EC43A8;"  class="username block no-m"><%= ad.user.username%></h4>
          <small class=" bold italic text-left no-m no-p"><a href="/<%= ad.ad_category.name.downcase%>/<%= ad.base.downcase%>/annunci"><%= ad.ad_category.name%> a <%= ad.base%></a></small>
      </div>
          <%rescue%>
          <%end%>

    <%rescue%>
    <%end%>
    <hr style="margin-bottom:0px !important;">
  </div>
  <%end%>
<%end%>

</div>
</div>
<div class="col-sm-12 text-center">
<%= paginate @ads %>
</div>


<%content_for :scripts do %>
  <script>
      $(document).ready(function(){
          $("#hero").backstretch("<%= Default.find_by_field('bannerBg').value%>");
          $(".ad").on("click",function(){
            window.location.href = $(this).data("href")
          })

      })
  </script>
<%end%>
