<% content_for :title do %>
    <% begin%>
        <%= @ad.user.username.capitalize%> <%= @ad.ad_category.name+" accompagnatrice a "+@ad.base%>
     <%rescue%>
      <%# "relazionisociali.com | "+ActionView::Base.full_sanitizer.sanitize(Default.find_by_field("home_generico").value)%>
    <%end%>
<%end%>

<div class="col-sm-12 p20h m20h">

  <div id="breadcrumbs" class="col-sm-12">

      <%= link_to "home", "/"%> > <%= link_to @ad.ad_category.name+" a "+@ad.base, "/#{@ad.ad_category.name.downcase}/#{@ad.address.downcase}/annunci"%> > <%= @ad.user.username%>
  </div>


  <div class="col-sm-6  pull-left">
      <hgroup>
          <h3 class="no-p" style="text-transform:capitalize !important;"><%= @ad.user.username%></h3>
          <p class="no-p"> <span class="normal"><%= @ad.base%></span>  <br/>

          <% if @is_fav%>
          <%= link_to 'Rimuovi dai preferiti', @is_fav, method: :delete, :class => "btn btn-destroy"%>
          <%else%>
          <%if current_user%>
          <%= render 'favs/form', fav: @fav %>

          <%end%>
          <%end%>


          <% if @ad.zone && @ad.zone != ""%>
          <span class="block p5h  m5h">Zona/Quartiere: <span class="bold"><%= @ad.zone %></span></span>
          <%end%>
          <span id="tel" class="hidden-xs block p5h m5h"><i class="glyphicon glyphicon-earphone evidence-txt" style="position:relative; top: 0px"></i><span class="p10w big evidence-txt"><%= @ad.user.tel%></span></span></p>
          <span id="tel" class="visible-xs block p5h m5h"><i class="glyphicon glyphicon-earphone evidence-txt" style="position:relative; top: 0px"></i><a href="tel:<%= @ad.user.tel%>"><span class="p10w big evidence-txt"><%= @ad.user.tel%></span></a></span></p>
          <p class="text-left block italic light"><%= Default.find_by_field("clickToCall").value%></p>
      </hgroup>
      <hr>

      <div>

        <ul class="visible-xs row" id="previewerMobile">
          <% @ad.pictures.each do |pp|%>
            <li>  <%= image_tag "https://dqg7oiepb9xwd.cloudfront.net"+pp.attachment.url(:original), {:alt =>  @ad.user.username.capitalize+" "+@ad.ad_category.name+" accompagnatrice a "+@ad.base, :class => "col-xs-12"}%></li>
          <%end%>
        </ul>



</div>









      <% if @ad.pictures.count > 0 %>
      <h4>Qualcosa di me</h4>
      <p class="description">
        <%= @ad.description.html_safe%>
      </p>

      <hr>
      <% end %>

      <% if @ad.mhf || @ad.always_open%>
      <h4>Orario di lavoro</h4>
      <p class="description">
        <% if !@ad.always_open%>
        <table class="table">
          <tr>
            <td class="bold">Lunedì</td>
            <td><%=@ad.mhf || "n.d." %> - <%= @ad.mht || "n.d." %> <td>
          </tr>
          <tr>
            <td class="bold">Martedì</td>
            <td><%=@ad.thf || "n.d." %> - <%= @ad.tht || "n.d." %> <td>
          </tr>
          <tr>
            <td class="bold">Mercoledì</td>
            <td><%=@ad.whf || "n.d." %> - <%= @ad.wht || "n.d." %> <td>
          </tr>
          <tr>
            <td class="bold">Giovedì</td>
            <td><%=@ad.tdhf || "n.d." %> - <%=  @ad.tdht || "n.d." %> <td>
             </tr>
          <tr>
            <td class="bold">Venerdì</td>
            <td><%=@ad.fhf || "n.d." %> - <%= @ad.fht || "n.d." %> <td>
          </tr>
          <tr>
            <td class="bold">Sabato</td>
            <td><%=@ad.shf || "n.d." %> - <%= @ad.sht || "n.d." %> <td>
          </tr>
          <tr>
            <td class="bold">Domenica</td>
            <td><%=@ad.sshf || "n.d." %> - <%= @ad.ssht || "n.d." %> <td>

        </table>
        <%else%>
            <span class="bold secondary_label uppercase big">Disponibile sempre 24/7</span>
        <%end%>

      </p>

      <hr>
      <%end%>

      <div class="visible-xs">
      <h4>Caratteristiche</h4>
    <div class="row">
      <div class="col-xs-8 no-p p10h">

          <% if @ad.user.properties.count == 0 and @ad.breakpoint_matches.count == 0 %>
              <p class="italic col-sm-12">non inserite</p>
          <%end%>

          <% @ad.user.properties.each do |pp|%>
              <div class="col-xs-12">
                <dl class="col-xs-12 no-p">
                  <dt class=""><%= pp.property_category.name%></dt>
                  <dd class=" block"><%= pp.value%></dd>
                </dl>


              </div>
          <%end%>

      </div>

    <div class="col-xs-4 no-p m10h">
    <% @ad.breakpoint_matches.each do |bm|%>
        <dl class="col-xs-12 no-p">
          <dt class=""><%= bm.breakpoint_category.name %></dt>
          <dd class=" block"><%= bm.breakpoint.name %></dd>
        </dl>
    <%end%>
    </div>

    <div class="col-xs-12 ">
    <hr>
    </div>
    </div>


      </div>


      <h4>Contatti</h4>
      <div class="col-xs-12 no-p">
      <div class="col-xs-12 no-p">

        <dl class="col-xs-6 no-p"><dt>Città di base</dt><dd><%= link_to @ad.base, "/#{@ad.ad_category.name}/#{@ad.base}/annunci#ads" %></dd></dl>
        <%
          if @ad.secondary_base
        %>
        <dl class="col-xs-6 no-p">
          <dt>Altre città</dt>
        <dd>
        <%
            @ad.secondary_base.split(",").each do |sb|

        %>
            <span class="p5h block"><%= link_to sb, "/#{@ad.ad_category.name}/#{sb}/annunci#ads"%></span>
        <%end%>
      </dd>
        <%end%>
      </div>
        <dl class="hidden-xs col-xs-12 no-p "><dt>Telefono</dt><dd id="smalltel" class="big"><%= @ad.user.tel %></dd><small class="block small italic lowercase light"><%= Default.find_by_field("clickToCall").value%></small>
        <dl class="col-xs-12 visible-xs no-p "><dt>Telefono</dt><dd id="smalltel" class="big"><a href="tel:<%= @ad.user.tel %>"><%= @ad.user.tel %></a></dd><small class="block small italic lowercase light"><%= Default.find_by_field("clickToCall").value%></small>

        <%if @ad.no_sms_no_private%>
          <p class="bold p5h">Non rispondo a SMS e chiamate anonime</p>
        <%end%>

        </dl>

        <% @ad.user.contacts.each do |contact|%>

        <%if contact.website%><dl class="col-xs-6 no-p"><dt>Website</dt><dd><%= contact.website %></dd></dl><%end%>
        <%if contact.email%><dl class="col-xs-6 no-p"><dt>Email</dt><dd><%= contact.email %></dd></dl><%end%>
        <%if contact.whatsapp%><dl class="col-xs-6 no-p"><dt>Whatsapp</dt><dd><%= contact.whatsapp %></dd></dl><%end%>
        <%if contact.skype%><dl class="col-xs-6 no-p"><dt>Skype</dt><dd><%= contact.skype %></dd></dl><%end%>
        <%if contact.facebook%><dl class="col-xs-6 no-p"><dt>Facebook</dt><dd><%= contact.facebook %></dd></dl><%end%>
        <%if contact.instagram%><dl class="col-xs-6 no-p"><dt>Instagram</dt><dd><%= contact.instagram %></dd></dl><%end%>


        <%end%>
    </div>


      <% if @ad.ubiquities.count > 0 %>
      <hr>
      <h4>Tour</h4>
        <% @ad.ubiquities.each do |u|%>
          dal <%= u.from.strftime("%d/%m/%Y")%> al <%= u.to.strftime("%d/%m/%Y")%> in <%= u.address%>
        <%end%>
      <%end%>


      <hr>
      <h4>Dove sono</h4>
      <%# image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@ad.latitude},#{@ad.longitude}&size=800x400&zoom=17&markers=color:0xEC43A8%7C#{@ad.latitude},#{@ad.longitude}&key=AIzaSyAZEZlRxAzSTQAXf2jDRXlRwNupnTPSy_A", :class => "col-sm-12 no-p") %>
      <iframe
        width="100%"
        height="400"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAZEZlRxAzSTQAXf2jDRXlRwNupnTPSy_A&q=<%= (@ad.zone && @ad.zone != "" ? @ad.zone : @ad.base)%>" allowfullscreen>
      </iframe>



  </div>

  <div class="col-sm-6">
    <div class="col-xs-12 no-p">
      <% if @ad.pictures.count > 0 %>
            <ul class="hidden-xs" id="previewer">
              <% @ad.pictures.each do |pp|%>
                <li>
                  <div class="col-xs-12 text-center popupEnabler" data-src="<%= "https://dqg7oiepb9xwd.cloudfront.net"+pp.attachment.url(:original)%>">
                  <%= image_tag("https://dqg7oiepb9xwd.cloudfront.net"+pp.attachment.url(:original), {:alt =>  @ad.user.username.capitalize+" "+@ad.ad_category.name+" accompagnatrice a "+@ad.base, :class => "block"})%>
                  </div>
                  </li>
              <%end%>
            </ul>
      <%else%>
      <div class="col-sm-10 col-sm-offset-1">
      <h4>Qualcosa di me</h4>
      <p class="description">
        <%= @ad.description.html_safe%>
      </p>


      <% end %>



      <div class="hidden-xs p10h" style="background-color:#222;">
        <ul id="lightSlider">
          <% @ad.pictures.each_with_index do |pp,index|%>
            <li data-index="<%= index%>">  <%= image_tag "https://dqg7oiepb9xwd.cloudfront.net"+pp.attachment.url(:crop), {:alt =>  @ad.user.username.capitalize+" "+@ad.ad_category.name+" accompagnatrice a "+@ad.base, :class => "row"}%></li>
          <%end%>
        </ul>
      </div>

        <hr />

    <div class="hidden-xs">
      <h4>Caratteristiche</h4>
    <div class="row">
      <div class="col-xs-8 no-p p10h">

          <% if @ad.user.properties.count == 0 and @ad.breakpoint_matches.count == 0 %>
              <p class="italic col-sm-12">non inserite</p>
          <%end%>

          <% @ad.user.properties.each do |pp|%>
              <div class="col-xs-12">
                <dl class="col-xs-12 no-p">
                  <dt class=""><%= pp.property_category.name%></dt>
                  <dd class=" block"><%= pp.value%></dd>
                </dl>


              </div>
          <%end%>

      </div>

    <div class="col-xs-4 no-p m10h">
    <% @ad.breakpoint_matches.each do |bm|%>
        <dl class="col-xs-12 no-p">
          <dt class=""><%= bm.breakpoint_category.name %></dt>
          <dd class=" block"><%= bm.breakpoint.name %></dd>
        </dl>
    <%end%>
    </div>

    <div class="col-xs-12 ">
    <hr>
    </div>
    </div>

  </div>




  <div class="hidden-xs col-sm-12">
    <div class="row">
    <h4 class="bold">Recensioni</h4>
      <div class="">

        <% @ad.comments.each do |comment| %>
          <div class="col-sm-10">
            <input type="number" style="font-size:.5em !important;" class="rating" value="<%= comment.rating.to_i%>" data-readonly />
            <small class="bold secondary_label"><%= comment.user.username %></small>
            <p class="bold"><%= comment.title %></p>
            <p><%= comment.content %></p>
            <hr>
          </div>
        <% end %>

          <%if current_user%>
          <div class="col-sm-10">
          <h4>Inserisci il tuo commento</h4>
          <%= render 'comments/form', comment: @comment %>
          </div>
          <%end%>

      </div>
      </div>
  </div>




  </div>




  </div>


</div>
</div>


<div class="col-sm-12 m20h" id="ads">
  <div class="row">
  <h4 class="col-xs-12">Altre <%= @ad.ad_category.name%> in zona</h4>
  </div>
  <div class="row">
  <%@ads.where("active != ?", 0).each do |ad|%>
    <div class="col-sm-2 p5h m10h adpreview">
      <a class="p10h m5h" title="<%= ad.user.username.capitalize%> <%= ad.ad_category.name+" accompagnatrice a "+ad.base%>" href="/accompagnatrici/<%= ad.slug%>">

        <% if ad.pictures.count > 0%>
        <div class="ad col-sm-12 text-white" style="background-image:url('<%= "https://dqg7oiepb9xwd.cloudfront.net"+ad.pictures.first.attachment.url(:original)%>')">
        <%else%>
        <div class="ad col-sm-12 text-white no-p">
        <%end%>

        <% if ad.in_tour%>
            <img src="/assets/tour-ico.png" class="tour_ico" alt="">
        <%end%>

        <% if ad.new_photo%>
            <img src="/assets/new-pics.png" class="new_pics" alt="">
        <%end%>
        <div style="position:absolute; padding-top:100%;bottom:0;width:100%;left: 0" class="p10w p10h evdnc">
            <p class=" bold italic text-white text-left no-m no-p p20h"><%= ad.abstract%></p>

        </div>

        </div>


        <div style="position:relative; top:10px;">
            <h4 style="color:#EC43A8;"  class="username block no-m"><%= ad.user.username%></h4>
            <small class=" bold italic text-left no-m no-p"><a href="/<%= ad.ad_category.name%>/<%= ad.base%>/annunci"><%= ad.ad_category.name%> a <%= ad.base%></a></small>
        </div>
      </a>

    </div>
  <%end%>
</div>
</div>


</div>



<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <% @ad.pictures.each do |pp|%>
    <div class="item">  <%= image_tag "https://dqg7oiepb9xwd.cloudfront.net"+pp.attachment.url(:original), {:alt =>  @ad.user.username.capitalize+" "+@ad.ad_category.name+" accompagnatrice a "+@ad.base, :class => "col-xs-12"}%></div>
  <%end%>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="sr-only">Next</span>
</a>
</div>
      </div>

    </div>
  </div>
</div>


<%content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function() {

    // $("#previewer").lightGallery({
    //   selector: ".popupEnabler"
    // });
    //


    function resize(){
      $.each($("#previewer img"), function(i,e){
        if($(this).height() < $(this).width()){
          $(this).css({
            // top: (500 - $(this).height()) / 2,
          })
        }
      })
    }

    // $(".lSPrev, .lSNext").on("click",function(){
    //   resize();
    // })

    utils.get({
        url : "/annunci/<%= @ad.id%>/increase.json",
        callback: function(res){
        },
        fallback: function(){
        }
    })

    // preview
    var previewSlider = $("#previewer").lightSlider({
      item: 1,
      pager: false,
      mode: "fade",

      enableTouch: false,
      enableDrag: false,
      controls: true
    });

    var previewerMobile = $("#previewerMobile").lightSlider({
      item: 1,
      pager: false,
      controls: true,
      enableTouch: true,

      enableDrag: false,
      mode: "fade"
    });

    var lightSlider = $("#lightSlider").lightSlider({
      item: 6,
      controls: true,

      pager: false
    });

    $(document).on("click", "#lightSlider li", function(){
        var _that = $(this);
        previewSlider.goToSlide($(_that).attr("data-index"));

    })




  });
</script>

<% end %>
