<div class="col-sm-10 col-sm-offset-1">

<%if params[:ut] == "1"%>
  <div class="col-xs-12 col-sm-8 m20h p20h col-sm-offset-2 white shadow" >

  <%= Default.by("ad_registration_message")%>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>


    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(almeno <%= @minimum_password_length %> caratteri)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Ripeti la tua password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

     <div class="actions p20h">
    <%if params[:ut] == "1"%>
      <%= f.submit "REGISTRATI", :class => "btn btn-system" %>
    <%else%>
    <%= f.submit "REGISTRATI" %>
    <%end%>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>

  <%else%>

  <div class="col-xs-12 col-sm-8 m20h p20h col-sm-offset-2 white shadow" >

  <%= Default.by("user_registration_message")%>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>


    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(almeno <%= @minimum_password_length %> caratteri)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.hidden_field :user_type, :value => "C" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Ripeti la tua password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

 <div class="actions p20h">
    <%if params[:ut] == "1"%>
      <%= f.submit "REGISTRATI", :class => "btn btn-system" %>
    <%else%>
    <%= f.submit "REGISTRATI" %>
    <%end%>
  </div>
    <% end %>

  <%= render "devise/shared/links" %>
  </div>

  <%end%>

  </div>
