<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :ad_id, :value => @ad.id %>

    <div class="field">
      <%= f.number_field :rating, :class => "rating", "data-max"=>"5", "data-min"=>"1" %>
    </div>

    <div class="field">
      <%= f.label :title, "Titolo" %>
      <%= f.text_field :title %>
    </div>

  <div class="field">
    <%= f.label :content, "Commento" %>
    <%= f.text_area :content, :style => "height:100px;resize:none;" %>
  </div>


  <div class="actions">
    <%= f.submit "Invia"%>
  </div>
<% end %>
