<div class="m20h"></div>
<div class="m20h"></div>
<div class="m20h"></div>
<div class="col-sm-8 white p20h m20h col-sm-offset-2">
<h3 class="text-center">Modifica proprietà</h3>

<div class"white">
  <%= render 'form', property_category: @property_category %>
</div>
</div>
