<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, :placeholder => "Inserisci il tuo nome" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :placeholder => "Inserisci la tua email" %>
  </div>

  <div class="field">
    <%= f.label :city, "Città" %> <br/>
    <%= f.collection_select :city, City.all, :name, :full_name, {:class => "form-control"} %> </br>
  </div>

  <div class="field">
    <%= f.label :motivation, "Motivo del contatto" %> <br/>
    <%= f.select(:motivation, Issue::OPTIONS) %>
  </div>

  <div class="field">
    <%= f.label :content, "Messaggio" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "INVIA" %>
  </div>
<% end %>
