<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @issue.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @issue.city %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @issue.motivation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @issue.content %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
