/* "invisible", minimal styling */


.promin input[type=color],
.promin input[type=date],
.promin input[type=datetime],
.promin input[type=datetime-local],
.promin input[type=email],
.promin input[type=file],
.promin input[type=month],
.promin input[type=number],
.promin input[type=password],
.promin input[type=range],
.promin input[type=search],
.promin input[type=tel],
.promin input[type=time],
.promin input[type=text],
.promin input[type=url],
.promin input[type=week],
.promin textarea {
    background-color: transparent;
    border: 0;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    outline: 0;
    padding: 8px 0;
    margin-bottom: 20px;
    resize: none;
}

/* can be used for validation */

.promin input[type=color].error,
.promin input[type=date].error,
.promin input[type=datetime].error,
.promin input[type=datetime-local].error,
.promin input[type=email].error,
.promin input[type=file].error,
.promin input[type=month].error,
.promin input[type=number].error,
.promin input[type=password].error,
.promin input[type=range].error,
.promin input[type=search].error,
.promin input[type=tel].error,
.promin input[type=time].error,
.promin input[type=text].error,
.promin input[type=url].error,
.promin input[type=week].error,
.promin textarea.error { background-color: red; }

/* that beautiful button */
.promin input[type=button] {
    background-color: #aaa;
    border: 0;
    border-radius: 4px;
    color: white;
    outline: 0;
    padding: 8px 20px;
}

.promin input[type=button]:hover { background-color: #bbb; }

.promin input[type=button].submit { background-color: #08f; }
.promin input[type=button].submit:hover { background-color: #0077dd; }

.promin .promin-step p {
    margin: 0 0 20px;
}
