<%= form_for(ad_category) do |f| %>
  <% if ad_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_category.errors.count, "error") %> prohibited this ad_category from being saved:</h2>

      <ul>
      <% ad_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
