<div class="m20h p20h col-sm-12">
  <hgroup class="col-sm-6">
      <%= @title%>
  </hgroup>


  <div class="p20h col-sm-12" id="main_search_form">
  <%= search_form_for @q do |f| %>

  <div class="p20h col-sm-4">
    <%= f.label :address_cont, "DOVE" %>
    <div class="field">
      <%= f.search_field :address_cont, :placeholder => "indica la località di tuo interesse" %>
    </div>
  </div>

  <div class="p20h col-sm-2">
    <%= f.label :address_cont, "CHI" %>
    <div class="field form-group">

      <%= f.collection_select :ad_category_id_eq, AdCategory.all, :id, :name, {:prompt => false},{:class => "form-control"} %>
    </div>
  </div>

  <div class="p20h col-sm-3">
    <%= f.label :address_cont, "COME" %>
    <div class="field">
      <%= f.search_field :queries_cont, :placeholder => "es: italiana, mora, formosa…" %>
    </div>
  </div>

<div class="p20h col-sm-2">
  <%= f.submit "CERCA", :class => "btn btn-system " %>
  </div>
  <% end %>
</div>

</div>


<div class="col-sm-10">
    <% BreakpointCategory.all.each do |bc|%>
        <div class="col-sm-2 filter">
            <h5><%= bc.name %></h5>
            <% bc.breakpoints.each do |bp|%>
              <input type="checkbox" name="<%= bc.name%>" data-bp="<%= bp.name%>">
              <label for="<%= bc.name%>" class="p5h"><small><%= bp.name%></small></label> <br/>
            <%end%>
        </div>
    <%end%>
    <div class="col-sm-2 hidden" id="filterquery">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :queries_cont, :placeholder => "es: italiana, mora, formosa…" %>
      <%end%>
    </div>
</div>





<% content_for :scripts do %>
  <script>
    $(document).ready(function(){

        var queries = []

        $(document).on("change", ".filter input[type='checkbox']", function(){
            var _bp = $(this).attr("data-bp");
            if($(this).is(":checked")){
                queries.push(_bp);
            }else{
              queries = $.grep(queries, function(value) {
              return value != _bp;
              });
            }
            console.log(queries);
            $("#filterquery #q_queries_cont").val(queries)
        })

    })
  </script>
<% end %>
