<div class="m20h p20h col-sm-12" id="breakpoints">

<div class="text-right">
<%= link_to 'Aggiungi categoria', new_breakpoint_category_path, :class => "btn btn-system" %>
<%= link_to 'Aggiungi', new_breakpoint_path, :class => "btn btn-system" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valori</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% BreakpointCategory.all.each do |breakpoint_category| %>
      <tr>
        <td class="bold"><%= breakpoint_category.name %></td>
        <td>
          <% breakpoint_category.breakpoints.each do |bp|%>
            <span class="p10w secondary radius text-center"><%= link_to bp.name, edit_breakpoint_path(bp) %></span>
          <% end%>
        </td>
        <td><%= link_to 'Modifica', edit_breakpoint_category_path(breakpoint_category) %></td>
        <td><%= link_to 'Elimina', breakpoint_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
