<%= form_for(breakpoint) do |f| %>
  <% if breakpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breakpoint.errors.count, "error") %> prohibited this breakpoint from being saved:</h2>

      <ul>
      <% breakpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :breakpoint_category_id, "Categoria" %> <br/>
    <%= f.collection_select :breakpoint_category_id, BreakpointCategory.all, :id, :name, {:prompt => false}, {:class => "control-group"} %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Conferma" %>
  </div>
<% end %>
