
<div class="m20h"></div>
<div class="m20h"></div>
<div class="m20h"></div>
<div class="col-sm-8 white p20h m20h col-sm-offset-2">
<h3 class="text-center">Modifica breakpoint</h3>

<div class"white">
  <%= render 'form', breakpoint: @breakpoint %>
</div>
</div>

<div class="col-sm-12 text-center">
<%= link_to 'Elimina', @breakpoint, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
