<div class="col-sm-10 col-sm-offset-1">
<p id="notice"><%= notice %></p>

<h1>Breakpoints</h1>
<%= link_to 'Aggiungi', new_breakpoint_path %>

<table class="table">
  <thead>
    <tr>
      <th>Breakpoint category</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breakpoints.each do |breakpoint| %>
      <tr>
        <td><%= breakpoint.breakpoint_category.name %></td>
        <td><%= breakpoint.name %></td>
        <td><%= link_to 'Show', breakpoint %></td>
        <td><%= link_to 'Edit', edit_breakpoint_path(breakpoint) %></td>
        <td><%= link_to 'Destroy', breakpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
