<p id="notice"><%= notice %></p>

<p>
  <strong>Breakpoint category:</strong>
  <%= @breakpoint.breakpoint_category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @breakpoint.name %>
</p>

<%= link_to 'Edit', edit_breakpoint_path(@breakpoint) %> |
<%= link_to 'Back', breakpoints_path %>
