<div class="col-sm-12">
<%= search_form_for @qq, url: admin_ads_path do |f| %>
<div class="field col-sm-12">
<%= f.search_field :email_or_username_cont, {:placeholder => "cerca per nome o per email e premi invio", :autocomplete => "off"} %>
</div>
<%= f.submit "CERCA", :class => "hidden" %>
<%end%>
</div>


<%
  @verified = User.where({:user_type => "U"}).where.not({:deal_to => nil})
  @unverified = User.where({:user_type => "U", :deal_to => nil})
%>
<div class="m20h p20h col-sm-12" id="utenti">
<table class="table">
  <thead>
    <th>Utente</th>
    <th>Numero annunci</th>
    <th>Data di registrazione</th>
    <th>Validità abbonamento</th>
    <th>Metodologia di pagamento</th>
    <th>Opzioni</th>
  </thead>

<tbody>
<%@verified.order("username ASC").each do |user|%>
  <tr class="">
    <td><%= user.username%></td>
    <td><%= user.ads.count%></td>
    <td><%= user.created_at.strftime("%d/%m/%Y %H:%M")%></td>
    <td class="minifield">
      <input type="date" value="<%= user.deal_from%>" placeholder="valido dal" data-id="<%= user.id %>" data-controller="users" data-attr="deal_from" onchange="utilities.update(this)"> - <input type="date" value="<%= user.deal_to%>" placeholder="al" data-id="<%= user.id %>" data-controller="users" data-attr="deal_to" onchange="utilities.update(this)"></td>
    <td>
      <select name="payment_method"  data-id="<%= user.id %>" data-controller="users" data-attr="payment_method" onchange="utilities.update(this)">
            <option value="--" <%= 'selected' if user.payment_method == '--' %> >--</option>
            <option value="contanti" <%= 'selected' if user.payment_method == 'contanti' %> >contanti</option>
            <option value="assegno" <%= 'selected' if user.payment_method == 'assegno' %> >assegno</option>
            <option value="bonifico" <%= 'selected' if user.payment_method == 'bonifico' %> >bonifico</option>
            <option value="paypal" <%= 'selected' if user.payment_method == 'paypal' %> >paypal</option>
      </select>
    </td>
    <td>
      <%= link_to 'Elimina', user, method: :delete, data: { confirm: 'Sei sicuro?' } %>
    </td>
  </tr>
<%end%>
<%@unverified.each do |user|%>
  <tr class="unverified">
    <td><%= user.username%></td>
    <td><%= user.ads.count%></td>
    <td><%= user.created_at.strftime("%d/%m/%Y %H:%M")%></td>
    <td class="minifield">
      <input type="date" value="<%= user.deal_from%>" placeholder="valido dal" data-id="<%= user.id %>" data-controller="users" data-attr="deal_from" onchange="utilities.update(this)"> - <input type="date" value="<%= user.deal_to%>" placeholder="al" data-id="<%= user.id %>" data-controller="users" data-attr="deal_to" onchange="utilities.update(this)"></td>
    <td>
      <select name="payment_method"  data-id="<%= user.id %>" data-controller="users" data-attr="payment_method" onchange="utilities.update(this)">
            <option value="--" <%= 'selected' if user.payment_method == '--' %> >--</option>
            <option value="contanti" <%= 'selected' if user.payment_method == 'contanti' %> >contanti</option>
            <option value="assegno" <%= 'selected' if user.payment_method == 'assegno' %> >assegno</option>
            <option value="bonifico" <%= 'selected' if user.payment_method == 'bonifico' %> >bonifico</option>
            <option value="paypal" <%= 'selected' if user.payment_method == 'paypal' %> >paypal</option>
      </select>
    </td>
    <td>
      <%= link_to 'Elimina', user, method: :delete, data: { confirm: 'Sei sicuro?' } %>
    </td>
  </tr>
<%end%>
</tbody>
</table>

</div>


<%content_for :scripts do %>
  <%= javascript_include_tag 'lib/utilities', 'data-turbolinks-track' => true %>
<% end %>
