<div class="col-sm-10 col-sm-offset-1">
<h3>I tuoi preferiti</h3>
<div class="row">
<%current_user.favs.each do |fav|
    ad = fav.ad
%>
  <div class="col-sm-4 col-xs-12 p5h m10h adpreview">
    <%begin%>
    <a class="p10h m5h" title="<%= ad.user.username%> <%= ad.ad_category.name+" accompagnatrice a "+ad.base%>" href="/accompagnatrici/<%= ad.slug%>">


      <% if ad.pictures.size > 0%>
      <div class="ad bigad col-sm-12 text-white" style="background-image:url('<%= ad.pictures.first.attachment.url(:original)%>')">
      <%else%>
      <div class="ad bigad col-sm-12 text-white no-p">
      <%end%>

      <% if ad.in_tour%>
          <img src="/assets/tour-ico.png" class="tour_ico" alt="">
      <%end%>

      <% if ad.new_photo%>
          <img src="/assets/new-pics.png" class="new_pics" alt="">
      <%end%>
			<div style="position:absolute; padding-top:100%;bottom:0;width:100%;left: 0" class="p10w p10h evdnc">
					<p class=" bold italic text-white text-left no-m no-p p20h"><%= ad.abstract%></p>

			</div>

      </div>


      <div style="position:relative; top:10px;">
        <%begin%>
          <h4 style="color:#EC43A8;"  class="username block no-m"><%= ad.user.username%></h4>
          <small class=" bold italic text-left no-m no-p"><a href="/<%= ad.ad_category.name%>/<%= ad.base%>/annunci"><%= ad.ad_category.name%> a <%= ad.base%></a></small>
          <%rescue%>
          <%end%>
      </div>

    </a>
    <%rescue%>
    <%end%>
  </div>
<%end%>

</div>

<hr>
<div class="col-sm-12">
  <div class="row">
<h3>I tuoi commenti</h3>
<div class="row">
<% @user.comments.each do |comment| %>
  <div class="col-sm-4">
    <input type="number" style="font-size:.5em !important;" class="rating" value="<%= comment.rating.to_i%>" data-readonly />
    <small class="bold secondary_label"><%= link_to comment.ad.title, comment.ad %></small>
    <p class="bold"><%= comment.title %></p>
    <p><%= comment.content.truncate(150) %>...</p>
    <hr>
  </div>
<% end %>
</div>
</div>
</div>
</div>
