<div class="col-sm-offset-1 col-sm-2 m20h p20h">
  <%= link_to "Inserisci le tue informazioni", infos_users_path, {:class => "bold"}%>
</div>
<div class="col-sm-6">
<div class="col-sm-10 col-sm-offset-1">
<h3>Inserisci le tue informazioni</h3>
<%= form_for(@user, :url => {:action => "update_user"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "Scegli un nome" %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :tel, "Inserisci il tuo numero di telefono" %>
    <%= f.text_field :tel, :placeholder => "es: 333 ******1" %>
  </div>

  <div class="actions">
    <%= f.submit "Conferma" %>
  </div>
<% end %>

</div>
</div>
