<div class="row">
  <div class="col-sm-6 m20h p20h col-sm-offset-3">


    <h3 class="text-center">Inserisci alcune informazioni su di te</h3>



<% BreakpointCategory.all.each do |bc|%>
  <div class="col-xs-12  m20h p20h">
      <h4><%= bc.name %></h4>
     <% bc.breakpoints.each do |bp|%>
     <%if bc.breakpoints.count > 5 %>
      <div class="field bmatch col-xs-4">
          <input type="checkbox" class="bm"  data-aid="<%= @ad %>" data-bp="<%= bp.id%>" data-bc="<%= bc.id%>"><label class="p10w"><%= bp.name%></label>
      </div>
      <%else%>
      <div class="field bmatch">
          <input type="checkbox" class="bm"  data-aid="<%= @ad %>" data-bp="<%= bp.id%>" data-bc="<%= bc.id%>"><label class="p10w"><%= bp.name%></label>
      </div>
      <%end%>
     <%end%>
  </div>
<%end%>
</div>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <%= link_to "Avanti", new_ad_path, :class => "btn btn-system col-xs-12"%>
</div>


<% content_for :scripts do %>
  <script>

      function create(el){
        var data = {
          breakpoint_id: $(el).attr("data-bp"),
          breakpoint_category_id: $(el).attr("data-bc"),
          ad_id: $(el).attr("data-aid")
        };
        utils.post({
            url: "/breakpoint_matches.json",
            data : {
              "breakpoint_match" : data
            },
            callback: function(response){
              $(el).attr({
                "data-id" : response.id
              })
              console.log(response);
            }
        })
      }



      function destroy(el){
        console.log($(el).attr("data-id"))
        utils.delete({
            url: "/breakpoint_matches/"+$(el).attr("data-id")+".json",
            callback: function(){
              $(el).attr({
                "data-id" : null
              })
            }
        })
      }



      $(document).ready(function(){

                $(".bm").on("change",function(el){
                  if($(this).data("id")){
                      destroy($(this));
                  }else{
                     create($(this))
                  }
                })


              utils.get({
                  url : "/users/profile.json",
                  callback: function(r){
                      $.each(r,function(i,e){
                        $("input[data-bc='"+e.breakpoint_category_id+"'][data-bp='"+e.breakpoint_id+"']").attr({
                          "checked": "checked",
                          "data-id" : e.id
                        })
                      })
                  }
              })



      })
  </script>
<% end%>
