<div class="col-sm-8 col-sm-offset-2 p20h m20h">
  <h3 class="text-center"><%= Default.find_by_field("insert_properties").value%></h3>

<div class="col-sm-12 m20h p20h">
<% PropertyCategory.all.each do |pc|%>
    <div class="col-sm-4 field">
      <label class="bold" for="<%= pc.id%>"><%= pc.name%></label>
      <% _p = @props.find_by_property_category_id(pc.id)
      if _p
      %>
      <input type="text" class="_pc" data-pcid="<%= pc.id%>" name="p_<%= pc.id%>" id="p_<%= pc.id%>" placeholder="<%= pc.placeholder%>" value="<%= _p.value%>" data-id="<%= _p.id%>">
      <%else%>
      <%
         _values = pc.placeholder.split(",")
      %>
      <%if _values.count > 1%>
        <select class="form-control _pc m10h" data-pcid="<%= pc.id%>" name="p_<%= pc.id%>" id="p_<%= pc.id%>"  name="">
          <option value="--">--</option>
            <% _values.each do |v|%>
              <option value="<%= v%>"><%= v%></option>
            <% end%>
        </select>
      <%else%>
      <input type="text" class="_pc" data-pcid="<%= pc.id%>" name="p_<%= pc.id%>" id="p_<%= pc.id%>" placeholder="<%= pc.placeholder%>">
      <%end%>

      <%end%>
    </div>
<%end%>
</div>
</div>

<div class="col-sm-6 col-sm-offset-3">
  <%= link_to "Avanti", new_ad_path, :class => "btn btn-system pull-right"%>
</div>



<% content_for :scripts do %>
<script>

    function createProperty(el){
        var obj = {
          value: $(el).val(),
          property_category_id: $(el).attr("data-pcid"),
          user_id: "<%= current_user.id%>"
        }

        utils.post({
            data: obj,
            url: "/properties.json",
            callback: function(res){
                $(el).attr("data-id", res.id);
            },
            fallback: function(){

            }
        })


    }


        function updateProperty(el){
            var obj = {
              value: $(el).val(),
              property_category_id: $(el).attr("data-pcid"),
              user_id: "<%= current_user.id%>"
            }

            utils.put({
                data: obj,
                url: "/properties/"+$(el).attr("data-id")+".json",
                callback: function(res){
                    $(el).attr("data-id", res.id);
                },
                fallback: function(){

                }
            })


        }

    $(document).ready(function(){
        $(document).on("change","._pc",function(){
            if($(this).attr("data-id")){
              updateProperty($(this));
            }else{
              createProperty($(this));
            }
        })
    })
</script>
<%end%>
