<div class="hidden-xs m20h p20h col-sm-2 col-sm-offset-1">
  <ul class="affix nav nav-pills nav-stacked">
    <li><a href="#annunci" class="">annunci</a></li>
    <li><a href="#infos" class="">informazioni</a></li>
    <li><a href="/users/properties" class="">caratteristiche</a></li>
    <li><a href="#contacts" class="">contatti</a></li>
</ul>
</div>
<div class="col-sm-8 ">

  <div class="m20h p20h col-sm-12" id="annunci">
    <%if @user.ads.count != 0%>
  <h3>I tuoi annunci</h3>
  <table class="table">
    <thead>
      <th>Utente</th>
      <th>Data</th>
      <th>Luogo</th>
      <th>Visualizzazioni</th>
      <th>Opzioni</th>
    </thead>

  <tbody>
  <%@user.ads.each do |ad|%>
    <tr>
      <td><%= ad.created_at.strftime("%d/%m/%Y %H:%M")%></td>
      <td><%= ad.address%></td>
      <td><%= ad.views_count || 0%></td>
      <td>
        <%= link_to "Visualizza", ad%><br/>
        <%= link_to 'Modifica', edit_ad_path(ad) %><br/><%= link_to 'Elimina', ad, method: :delete, data: { confirm: 'Sei sicura?' } %></td>
    </tr>
  <%end%>
  </tbody>
  </table>
  <div class="actions col-sm-3 no-p">
  <%= link_to "Pubblica annuncio", new_ad_path, :class => "btn btn-system col-xs-12 inline-block m20h"%>
  </div>

  <%else%>

      <div class="text-center">
        <h3>I tuoi annunci</h3>
        <p>Inserisci il tuo primo annuncio, segui le istruzioni e carica le tue foto,<br/> per renderti facilmente rintracciabile!</p>

        <div class="actions col-sm-4 col-sm-offset-4 no-p">
        <%= link_to "Inizia ora!", new_ad_path, :class => "btn btn-system col-xs-12 inline-block m20h"%>
        </div>

      </div>


  <%end%>






  </div>
  <hr class="col-sm-12">

  <div class="m20h p20h">
    <p id="notice" class="col-sm-12 text-center bold italic evidence-txt underline"><%= notice %></p>

<%= render "layouts/edit_infos"%>
</div>







<%= render "layouts/contacts"%>

</div>
