<div class="m20h p20h col-sm-12" id="props">
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% PropertyCategory.all.each do |property_category| %>
      <tr>
        <td><%= property_category.name %></td>
        <td><%= link_to 'Modifica', edit_property_category_path(property_category) %></td>
        <td><%= link_to 'Elimina', property_category, method: :delete, data: { confirm: 'Sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
