<p id="notice"><%= notice %></p>

<p>
  <strong>Propery category:</strong>
  <%= @property.property_category %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Value:</strong>
  <%= @property.value %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
