<%= form_for(breakpoint_category) do |f| %>
  <% if breakpoint_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breakpoint_category.errors.count, "error") %> prohibited this breakpoint_category from being saved:</h2>

      <ul>
      <% breakpoint_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Conferma" %>
  </div>
<% end %>
