<p id="notice"><%= notice %></p>

<h1>Breakpoint Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breakpoint_categories.each do |breakpoint_category| %>
      <tr>
        <td><%= breakpoint_category.name %></td>
        <td><%= link_to 'Show', breakpoint_category %></td>
        <td><%= link_to 'Edit', edit_breakpoint_category_path(breakpoint_category) %></td>
        <td><%= link_to 'Destroy', breakpoint_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breakpoint Category', new_breakpoint_category_path %>
