<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @breakpoint_category.name %>
</p>

<%= link_to 'Edit', edit_breakpoint_category_path(@breakpoint_category) %> |
<%= link_to 'Back', breakpoint_categories_path %>
