<%= form_for(breakpoint_match) do |f| %>
  <% if breakpoint_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breakpoint_match.errors.count, "error") %> prohibited this breakpoint_match from being saved:</h2>

      <ul>
      <% breakpoint_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :breakpoint_id %>
    <%= f.text_field :breakpoint_id %>
  </div>

  <div class="field">
    <%= f.label :ad_id %>
    <%= f.text_field :ad_id %>
  </div>

  <div class="field">
    <%= f.label :breakpoint_category_id %>
    <%= f.text_field :breakpoint_category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
