<p id="notice"><%= notice %></p>

<h1>Breakpoint Matches</h1>

<table>
  <thead>
    <tr>
      <th>Breakpoint</th>
      <th>Ad</th>
      <th>Breakpoint category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breakpoint_matches.each do |breakpoint_match| %>
      <tr>
        <td><%= breakpoint_match.breakpoint %></td>
        <td><%= breakpoint_match.ad %></td>
        <td><%= breakpoint_match.breakpoint_category %></td>
        <td><%= link_to 'Show', breakpoint_match %></td>
        <td><%= link_to 'Edit', edit_breakpoint_match_path(breakpoint_match) %></td>
        <td><%= link_to 'Destroy', breakpoint_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breakpoint Match', new_breakpoint_match_path %>
