<p id="notice"><%= notice %></p>

<p>
  <strong>Breakpoint:</strong>
  <%= @breakpoint_match.breakpoint %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @breakpoint_match.ad %>
</p>

<p>
  <strong>Breakpoint category:</strong>
  <%= @breakpoint_match.breakpoint_category %>
</p>

<%= link_to 'Edit', edit_breakpoint_match_path(@breakpoint_match) %> |
<%= link_to 'Back', breakpoint_matches_path %>
