<div class="m20h p20h col-sm-12" id="queries">

<div class="row text-right">
  <%= link_to 'Nuovo testo', new_default_path, :class => "btn btn-system" %>

</div>

<table class="table">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Default.all.each do |default| %>
      <tr>
        <td class="bold"><%= default.field %></td>
        <td><%= default.value ? truncate(default.value, :length => 100) : "" %></td>
        <td><%= link_to 'Show', default %></td>
        <td><%= link_to 'Edit', edit_default_path(default) %></td>
        <td><%= link_to 'Destroy', default, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
