<%= form_for(default) do |f| %>
  <% if default.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(default.errors.count, "error") %> prohibited this default from being saved:</h2>

      <ul>
      <% default.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field %>
    <%= f.text_field :field %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<% content_for :scripts do %>
	<%= stylesheet_link_tag 'trumbowyg.min', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'trumbowyg.min', 'data-turbolinks-track' => true %>
	<script>
		jQuery(document).ready(function($) {
			$('textarea').trumbowyg();
		});
	</script>
<%end%>
