<div class="col-sm-10 col-sm-offset-1">
<p id="notice"><%= notice %></p>

<h1>Defaults</h1>

<table class="table">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defaults.each do |default| %>
      <tr>
        <td><%= default.field %></td>
        <td><%= default.value %></td>
        <td><%= link_to 'Show', default %></td>
        <td><%= link_to 'Edit', edit_default_path(default) %></td>
        <td><%= link_to 'Destroy', default, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default', new_default_path %>
</div>
