<div class="m20h"></div>
<div class="m20h"></div>
<div class="m20h"></div>
<div class="col-sm-8 white p20h m20h col-sm-offset-2">
<h3 class="text-center">Crea voce</h3>

<div class"white">
  <%= render 'form', default: @default %>
</div>
</div>
