<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @default.field %>
</p>

<p>
  <strong>Value:</strong>
  <%= @default.value %>
</p>

<%= link_to 'Edit', edit_default_path(@default) %> |
<%= link_to 'Back', defaults_path %>
