<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Whatsapp</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Skype</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th>Snapchat</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.user %></td>
        <td><%= contact.whatsapp %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.email %></td>
        <td><%= contact.skype %></td>
        <td><%= contact.facebook %></td>
        <td><%= contact.twitter %></td>
        <td><%= contact.instagram %></td>
        <td><%= contact.snapchat %></td>
        <td><%= contact.website %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
