<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @contact.whatsapp %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @contact.instagram %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @contact.snapchat %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
