<div class="m20h  hidden-xs"></div>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 m20h no-p white shadow" style="background-image:url('https://immagini.quotidianodiragusa.it/immagini_articoli/01-10-2014/sicilia-escort-picchiata-e-violentata-a-palermo-410.jpg');background-size:100%; height:600px; background-position: center bottom; background-repeat:no-repeat;">
  <div class="col-sm-6 white" style="height:600px;">
<h3 class="text-left p20h">Accedi al tuo account</h3>

<div class="">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field p20h">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Ricordami su questo device" %>
    </div>
  <% end -%>
  
  <div class="actions p20h">
    <%if params[:ut] == "1"%>
      <%= f.submit "ACCEDI", :class => "btn btn-system" %>
    <%else%>
    <%= f.submit "ACCEDI" %>
    <%end%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>

</div>




<%content_for :scripts do %>
  <script>
      $(document).ready(function(){
        $(".banner").backstretch("<%= Default.find_by_field('bannerBg').value%>");
      })
  </script>
<%end%>
