<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fav.user %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @fav.ad %>
</p>

<%= link_to 'Edit', edit_fav_path(@fav) %> |
<%= link_to 'Back', favs_path %>
