<div class="m20h p20h col-sm-12" id="queries">

<div class="row text-right">
  <%= link_to 'Nuovo link', new_custom_query_path, :class => "btn btn-system" %>

</div>


<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Url</th>
      <th>Query</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% CustomQuery.all.each do |custom_query| %>
      <tr>
        <td><%= custom_query.title %></td>
        <td><%= custom_query.path %></td>
        <td><%= custom_query.query %></td>
        <td><%= custom_query.order %></td>
        <td><%= link_to 'Show', custom_query %></td>
        <td><%= link_to 'Edit', edit_custom_query_path(custom_query) %></td>
        <td><%= link_to 'Destroy', custom_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
