<%= form_for(custom_query) do |f| %>
  <% if custom_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_query.errors.count, "error") %> prohibited this custom_query from being saved:</h2>

      <ul>
      <% custom_query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :query %>
    <%= f.text_field :query %>
  </div>
  <div class="field">
    <%= f.label :order %>
    <%= f.text_field :order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
