<p id="notice"><%= notice %></p>

<h1>Custom Queries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_queries.each do |custom_query| %>
      <tr>
        <td><%= custom_query.title %></td>
        <td><%= custom_query.path %></td>
        <td><%= link_to 'Show', custom_query %></td>
        <td><%= link_to 'Edit', edit_custom_query_path(custom_query) %></td>
        <td><%= link_to 'Destroy', custom_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Query', new_custom_query_path %>
