<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom_query.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @custom_query.path %>
</p>

<%= link_to 'Edit', edit_custom_query_path(@custom_query) %> |
<%= link_to 'Back', custom_queries_path %>
