/*!
 * Validetta (http://lab.hasanaydogdu.com/validetta/)
 * Version 1.0.0 ( 09-07-2014 )
 * Licensed under MIT (https://github.com/hsnayd/validetta/blob/master/LICENCE)
 * Copyright 2013-2014 Hasan Aydoğdu - http://www.hasanaydogdu.com 
 */

.validetta-bubble{z-index:999;position:absolute;background-color:#9471af;max-width:325px;border-radius:5px;color:#fff;padding:5px 12px}.validetta-bubble:before{content:'';display:block;position:absolute;top:7px;left:-5px;width:0;height:0;border-right:5px solid #9471af;border-bottom:5px solid transparent;border-top:5px solid transparent}.validetta-bubbleClose{display:block;cursor:pointer;position:absolute;top:-1px;right:3px;color:#fff;font-weight:700}.validetta-bubble,.validetta-inline{display:block;font:12px/14px Arial,Helvetica,sans-serif}.validetta-inline{color:#9471af}