<%= form_for(ubiquity) do |f| %>
  <% if ubiquity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ubiquity.errors.count, "error") %> prohibited this ubiquity from being saved:</h2>

      <ul>
      <% ubiquity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_id %>
    <%= f.text_field :ad_id %>
  </div>

  <div class="field">
    <%= f.label :from %>
    <%= f.datetime_select :from %>
  </div>

  <div class="field">
    <%= f.label :to %>
    <%= f.datetime_select :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
