<p id="notice"><%= notice %></p>

<h1>Ubiquities</h1>

<table>
  <thead>
    <tr>
      <th>Ad</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubiquities.each do |ubiquity| %>
      <tr>
        <td><%= ubiquity.ad %></td>
        <td><%= ubiquity.from %></td>
        <td><%= ubiquity.to %></td>
        <td><%= link_to 'Show', ubiquity %></td>
        <td><%= link_to 'Edit', edit_ubiquity_path(ubiquity) %></td>
        <td><%= link_to 'Destroy', ubiquity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubiquity', new_ubiquity_path %>
