<p id="notice"><%= notice %></p>

<p>
  <strong>Ad:</strong>
  <%= @ubiquity.ad %>
</p>

<p>
  <strong>From:</strong>
  <%= @ubiquity.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @ubiquity.to %>
</p>

<%= link_to 'Edit', edit_ubiquity_path(@ubiquity) %> |
<%= link_to 'Back', ubiquities_path %>
