  <div class="col-sm-12 m20h p20h" id="breakpoints">
    <h3>Caratteristiche</h3>

<% BreakpointCategory.all.each do |bc|%>
  <div class="col-xs-12 col-sm-2 ">
      <h4><%= bc.name %></h4>
     <% bc.breakpoints.each do |bp|%>
      <div class="field bmatch">
          <input type="checkbox" class="bm"  data-aid="<%= @ad %>" data-bp="<%= bp.id%>" data-bc="<%= bc.id%>"><label class="p10w"><small><%= bp.name%></small></label>
      </div>
     <%end%>
  </div>
<%end%>
</div>

<div class="col-sm-12">
  <%= link_to "CONFERMA", new_ad_path, :class => "btn btn-system block"%>
</div>


<% content_for :scripts do %>
  <script>

      function create(el){
        var data = {
          breakpoint_id: $(el).attr("data-bp"),
          breakpoint_category_id: $(el).attr("data-bc"),
          ad_id: $(el).attr("data-aid")
        };
        utils.post({
            url: "/breakpoint_matches.json",
            data : {
              "breakpoint_match" : data
            },
            callback: function(response){
              $(el).attr({
                "data-id" : response.id
              })
              console.log(response);
            }
        })
      }



      function destroy(el){
        utils.delete({
            url: "/breakpoint_matches/"+$(el).attr("data-id")+".json",
            callback: function(){
              $(el).attr({
                "data-id" : null
              })
            }
        })
      }



      $(document).ready(function(){

                $(".bm").on("change",function(el){
                  if($(this).data("id")){
                      destroy($(this));
                  }else{
                     create($(this))
                  }
                })




      })
  </script>
<% end%>
