<div class="col-sm-12" id="infos">
<h3>Inserisci le tue informazioni</h3>
<%= form_for(@user, :url => {:action => "update_user"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "Scegli un nome" %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :tel, "Inserisci i tuoi numeri di telefono" %>
    <%= f.text_field :tel %>
  </div>

  <div class="actions col-sm-3 no-p">
    <%= f.submit "Conferma", :class => "btn btn-system block" %>
  </div>
<% end %>

</div>
