<footer style="background: #fbfbfb;" class="col-xs-12 p20h">
  <div class="col-sm-12" style="background: #fbfbfb;">
    <div class="col-sm-4">
      <% if Default.find_by_field("footer_widget_1") %>
        <%= Default.find_by_field("footer_widget_1").value.html_safe; %>
      <%else%>
      <h5>Le più visualizzate</h5>
      <ul>
        <% Ad.all.order("views_count DESC").limit(10).each do |ad|%>
            <li class="col-sm-6 no-p p5h">
              <p class="no-m bold"><%= link_to ad.title, ad%></p>
              <small class=" italic text-left no-m no-p"><a href="/<%= ad.ad_category.name.downcase%>/<%= ad.base.downcase%>/annunci"><%= ad.ad_category.name.downcase%> a <%= ad.base.downcase%></a></small>
            </li>
        <%end%>
      </ul>
      <%end%>
    </div>
  <div class="col-sm-4">
    <% if Default.find_by_field("footer_widget_2") %>
      <%= Default.find_by_field("footer_widget_2").value.html_safe; %>
    <%else%>
    <div class="row">
    <div class="col-sm-12 no-p">
      <h5>Città popolari</h5>
    <ul class="col-sm-6">
      <li>
        <%@cat.ads.where({:base => "Roma"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Milano"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Torino"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Napoli"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Firenze"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
    </ul>
    <ul class="col-sm-6">
      <li>
        <%@cat.ads.where({:base => "Bergamo"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Venezia"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Palermo"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Bari"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
      <li>
        <%@cat.ads.where({:base => "Bologna"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
            <a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] ? params[:category].downcase : AdCategory.all.first.name.downcase%>/<%= ad.base.downcase%>/annunci#ads"><span class="p5h p10w m5w text-center hidden numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base.downcase%></a>
        <%end%>
      </li>
    </ul></div>
</div>
<%end%>
  </div>






  <div class="col-sm-4">
    <%if params[:city]%>
      <%= Default.by("footer_txt_cities").gsub!("{{city}}", params[:city]).html_safe%>
    <%else%>
      <%= Default.by("footer_txt").html_safe; %>
    <%end%>
  </div>

  <%= link_to image_tag("logo.png", :class => "col-sm-2 col-sm-offset-5"), "/" %>

</div>
</footer>
<div class="p20h col-xs-12">
  <div class="col-xs-12">
<%= Default.find_by_field("footer").value.html_safe; %>
</div>
</div>
