<header class="affix hidden-xs " style="width:100%; left:0">

	<div class="row">
			<%= link_to image_tag("logo.png", :class => "col-xs-12 col-sm-2"), "/" %>

			<nav class="col-xs-12 col-sm-3">

				<%@cat = AdCategory.find_by_slug(params[:category]) || AdCategory.all.first %>

				<div id="allcities" data-collapsed="si" class="coll col-sm-12" style="overflow:hidden;">
						<a data-toggle="collapse" href="#allcitiescontainer" aria-expanded="false" aria-controls="allcitiescontainer">
						<div class="row text-left m10h" style="position:relative; top: 20px; z-index:999;" id="selectcity">
							<p class="uppercase bold">SELEZIONA UNA CITTÀ <i class="glyphicon glyphicon-chevron-down" style="top:2px;position:relative;"></i></p>
						</div>
						<!-- <div id="dot"><i class="glyphicon glyphicon-chevron-down" style="top:4px;position:relative;"></i></div> -->
						</a>
					</div>



				<% if !(current_user and current_user.user_type == 'A')%>
				<%AdCategory.all.each do |adc|%>
					<%# link_to adc.name, "/#{adc.name.downcase}/annunci", {:class => "p20h pull-left m20w m10h #{adc.name.downcase}"}%>
				<%end%>

				<% end%>
				<!-- <span class="m20w pull-left small p20w third-bg"><a href="javascript:void(0)" id="radar">RADAR</a></span> -->

			</nav>

			<div class="col-xs-12 col-sm-5 col-sm-offset-2 text-center">
				<%if !current_user%>
					<div class="col-xs-4">

					<div class="dropdown">
						<button class="btn btn-third text-white  inline-block small m20h p10h dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							AREA UTENTI
							<span class="caret" style="top:-1px; left:5px; position:relative;"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="/users/sign_in?ut=2"><span class="bold block">Accedi</span><span class="block small">se sei già registrato</span></a></li>
							<li><a href="/users/sign_up?ut=2"><span class="bold block">REGISTRATI</span><span class="block small">se non sei già registrato</span></a></li>
						</ul>
						</div>
					</div>

					<div class="col-xs-4" style="top:2px;">

					<div class="dropdown">
						<button class="btn btn-system  inline-block small m20h p10h dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							PUBBLICA ANNUNCIO
							<span class="caret" style="top:-1px; left:5px; position:relative;"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="/users/sign_in?ut=1"><span class="bold block">Accedi</span><span class="block small">se sei già registrata</span></a></li>
							<li><a href="/users/sign_up?ut=1"><span class="bold block">REGISTRATI</span><span class="block small">se non sei già registrata</span></a></li>
						</ul>
						</div>
					</div>

				
				<%else%>
				<div class="p20h pull-right inline-block text-center">
					<%= link_to (current_user.username || "Profilo"), current_user, :class => " col-xs-12 lowercase small"%>
					<small><%= link_to('Profilo', current_user) %> | <%= link_to('Esci', destroy_user_session_path, method: :delete) %>   </small>
				</div>
				<% if current_user.user_type != "C"%>
				<%= link_to "Pubblica annuncio", new_ad_path, :class => "btn btn-system col-xs-4 inline-block m20h pull-right"%>
				<%end%>
				<%end%>
			</div>


	</div>


	<div class="row hidden" id="subh">
		<nav class="col-sm-8 col-sm-offset-2">
			<ul>
				<% CustomQuery.all.each do |cq|%>
					<li class="pull-left small p20w"><%= link_to cq.title, cq.path, :class => "text-white"%></li>
				<% end%>
				<!-- <li class="m20w pull-left small p20w third-bg"><a href="javascript:void(0)" id="radar">RADAR</a></li> -->

			</ul>
		</nav>
	</div>

	<div style="">
	<div class=" col-sm-12 p20h collapse"  id="allcitiescontainer" style="z-index:99">
		<div class="text-right">
			<span class="pointer" data-toggle="collapse" href="#allcitiescontainer" ><i class="glyphicon glyphicon-remove"></i> <span style="position:relative;top:-1px">Chiudi</span></span>
		</div>
		<div class="col-sm-12">
				<div class="col-sm-3 col-sm-offset-3 no-p">
					<%@cat.ads.where({:base => "Roma"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
							<a class="col-sm-11 p5h m5h inline-block uppercase bold" href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= URI.encode(ad.base.downcase)%>/annunci#ads"><span class="p5h p10w m5w text-center numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
					<%end%>
				</div>
				<div class="col-sm-2 text-left">
					<div class="row">
					<%@cat.ads.where({:base => "Milano"}).group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
							<a class="col-sm-12 p5h m5h inline-block uppercase bold" href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= URI.encode(ad.base.downcase)%>/annunci#ads"><span class="p5h p10w m5w text-center numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
					<%end%>
					</div>
				</div>
		</div>
		<hr>

			<div class="col-sm-12">
			<%@cat.ads.group("base").sort {|a,b| a.base <=> b.base}.each do |ad|%>
			<% if ad.amount > 1 and ad.base != "" %>
					<a class="col-sm-3 col-xs-6 p5h m5h inline-block uppercase bold" href="/<%= params[:category] || AdCategory.all.first.name.downcase%>/<%= URI.encode(ad.base.downcase)%>/annunci#ads"><span class="p5h p10w m5w text-center numberhighlight"><%= ad.amount.to_s%></span> <%= ad.base%></a>
			<%end%>
			<%end%>
			</div>
	</div>

		<span class="pointer secondary pull-right m10w p10h p10w" id="showmore" data-height="mini"><span style="position:relative;top:-1px">Mostrane di più</span></span>




</div>

</header>


<nav class="navbar affix navbar-default visible-xs no-p" style="z-index:99;width:100%;left:0;">
  <div class="container-fluid">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-right:30px;border:none;" aria-expanded="false">
			 <span class="sr-only">Toggle navigation</span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
		 </button>
      <a class="navbar-brand no-p" href="#">
				<%= link_to image_tag("logo.png", :class => "col-xs-5 pull-left"), "/" %>

      </a>
    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		 <ul class="nav navbar-nav">
			 <%AdCategory.all.each do |adc|%>
				<li><%= link_to adc.name, ads_url({
						:q => {
							:ad_category_id_eq => adc.id
						}
					})%>
				</li>
			<%end%>

			<li role="separator" class="divider"></li>


					<% CustomQuery.all.each do |cq|%>
							<li class=""><%= link_to cq.title, cq.path%></li>
						<% end%>


			<li role="separator" class="divider"></li>

			<%if !current_user%>
				<li><%= link_to "AREA UTENTI", new_user_session_path%></li>
				<li><%= link_to "Pubblica annuncio", new_ad_path, :class => "btn btn-system col-xs-12 inline-block m20h"%></li>
			<%else%>
				<li><%= link_to (current_user.username || "Profilo"), current_user%></li>
				<li><%= link_to('Esci', destroy_user_session_path, method: :delete) %> </li>
				<li><%= link_to "Pubblica annuncio", new_ad_path, :class => "btn btn-system col-xs-12 inline-block m20h"%></li>
			<%end%>



		 </ul>
	 </div>
  </div>
</nav>





<%content_for :scripts do%>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();

			$("#showmore").hide();

			$('#allcitiescontainer').on('show.bs.collapse', function () {
				  $("#showmore").show();
			}).on('hide.bs.collapse', function () {
				$("#showmore").hide();
			})

					var _lat;
					var _lng;

					function showPosition(position) {
						// _lat = position.coords.latitude;
						// _lng = position.coords.longitude;


						window.location.href = "/?around=41.902783,12.496366&radar=50";
						// window.location.href = "/?around="+position.coords.latitude+","+position.coords.longitude+"&radar=50";

				}

				


					// $(document).on("click",$("#radar"),function(){
					// 	window.location.href = "/?around=41.902783,12.496366&radar=50";
					// })


				
					$( "#slider-range-max" ).slider({
			      range: "max",
			      min: 20,
			      max: 200,
			      value: 50,
			      slide: function( event, ui ) {
			        $( "#amount" ).html( ui.value );
							$("#radargo").attr({
									"href" : "/?around="+_lat+","+_lng+"&radar="+ui.value+"&r=true"
							})
							$("#radargo2").attr({
									"href" : "/?around="+_lat+","+_lng+"&radar="+ui.value+"&r=true"
							})
			      }
			    });
			    $( "#amount" ).html( $( "#slider-range-max" ).slider( "value" ) );

					$("#showmore").on("click",function(){
							if($(this).attr("data-height") == "full"){
								$("#allcitiescontainer").attr({
									"style" : "height:320px !important;"
								});
								$(this)
									.attr("data-height", "mini")
									$("span", this)
										.html("Mostrane di più")

							}else{
								$("#allcitiescontainer").attr({
									"style" : "height:83vh !important;"
								})
								$(this)
									.attr("data-height", "full")
								$("span", this)
									.html("Mostrane di meno")
							}
					})

		})
	</script>
<%end%>
