<div class="row visible-xs">
  <%= image_tag( Default.find_by_field('bannerBg').value, :class => "row")%>
</div>


<% content_for :title do %>
    <% if params[:category]%>
      <% if params[:city]%>
          <% if Default.find_by_field("title_"+params[:city]) %>
            <%= Default.find_by_field("title_"+params[:city]).value.html_safe%>
          <%else%>
            <%= params[:category]+" a "+params[:city] + " | relazionisociali.com"%>
          <%end%>
      <%else%>
        <%= params[:category] %>
      <%end%>
    <%else%>
    <%= ActionView::Base.full_sanitizer.sanitize(Default.find_by_field("home_generico").value) %>
    <%end%>
<%end%>



<div class="col-sm-10 col-sm-offset-1">

  <hgroup class="col-sm-8 text-white radius">

      <div class="col-xs-12 no-p">
      <% if params["q"] && params["q"]["ad_category_id_eq"]%>
          <%= AdCategory.find(params["q"]["ad_category_id_eq"]).name%>
          <% if params["q"]["address_cont"] && params["q"]["address_cont"] != ""%>
            a <%= params["q"]["address_cont"]%>
          <%end%>
      <% end %>
    </div>
      <% if params[:category]%>
      <div id="breadcrumbs" class="col-xs-12">
          <% if params[:city]%>
          <%= link_to "home", "/"%> > <%= link_to params[:category]+" a "+params[:city], "/#{params[:category].downcase}/#{params[:city].downcase}/annunci"%>
          <%else%>
          <%= link_to "home", "/"%> > <%= link_to params[:category], "/#{params[:category].downcase}/annunci"%>
          <%end%>
      </div>
      <% end%>
      <div class="col-xs-12 no-m no-p">
        <%= @title%>
      </div>
  </hgroup>


  <div class=" col-xs-12 no-p white" id="main_search_form">
  <%= search_form_for @q do |f| %>
  <div class="field">
    <div class="col-xs-10 pull-left">
    <%= f.search_field :title_or_address_cont, {:placeholder => "cerca per nome o per località", :autocomplete => "off", :class => "radius"} %>
</div>
<div class="col-xs-2">
  <a href="javascript:void(0)" id="toggleFilters"><i class="fa fa-sliders big p10h block secondary_label" data-toggle="collapse" href="#mobileFilters" style="font-size:25px !important;"></i></a>
</div>
<div class="col-xs-12">
  <hr class="no-m">
  <div class="row" id="radar">
    <span class="bold text-center p10h block secondary_label" style="font-size:18px;"><a href="/?around=41.902783,12.496366&radar=50"><i class="glyphicon glyphicon-map-marker"></i> Trova le <%= @cat.name%> intorno a te</a></span>
  </div>
    <p class="text-right">oppure <a href="/annunci/cities" class="secondary_label">cerca per città <i class="glyphicon glyphicon-chevron-right"></i></a></p>
    <hr class="no-m">

</div>
  </div>

      <%# f.collection_select :ad_category_id_eq, AdCategory.all, :id, :name, {:selected => @cat.id},{:class => "form-control m10h"} %>

      <%= f.search_field :queries_cont, :placeholder => "es: italiana, mora, formosa…", :style => "height: 0px !important;border:none !important;" %>
  <div class="col-xs-12">
  <%= f.submit "CERCA", :class => "btn btn-system", :style => "height: 30px; !important" %>
  </div>
  <% end %>
</div>


</div>





<% content_for :scripts do %>
  <script>
    $(document).ready(function(){









      var geocoder = new google.maps.Geocoder;

      $('.morefilters').magnificPopup({
        type:'inline'
      });

      function setupSizes(){
          if(_size == "big"){
            $(".adpreview").removeClass("col-sm-2").addClass("col-sm-3");
            $(".ad").addClass("bigad");
          }else{
            $(".adpreview").removeClass("col-sm-3").addClass("col-sm-2");
            $(".ad").removeClass("bigad");
          }
          if(utils.params("ad_category_id_eq")){
            if(!utils.params("size")){
              document.location = document.location+"&size="+_size;
            }
          }else{
            if(!utils.params("size")){
              document.location = document.location+"?size="+_size;
            }
          }
      }

      var queries = [];

      var _size = utils.params("size") || "small";
      // setupSizes();


        if($("#q_queries_cont").val()){
          var fields = $("#q_queries_cont").val().split(",");
          queries = fields;

          $.each(fields, function(i,f){
              $("input[data-bp='"+f+"']").attr("checked","checked")
          })

        }else{
          queries = [];
        }


        // $(document).on("click",".quickcity",function(){
        //     var _label = $("small",this).html();
        //     window.location.href="/"+_label+"/annunci"
        // })

        // $(document).on("click",".collapse-to",function(){
        //     var _collapsed = $(this).hasClass("collapsed-down");
        //     if(_collapsed){
        //       $(this).removeClass("collapsed-down");
        //       $("i", $(this)).removeClass("zmdi-chevron-down").addClass("zmdi-chevron-up")
        //     }else{
        //       $(this).addClass("collapsed-up");
        //       $("i", $(this)).removeClass("zmdi-chevron-up").addClass("zmdi-chevron-down")
        //     }
        // })

        $(document).on("click",".change_size",function(){
                if($(this).data("size") == "big"){
                  $("#ads .adpreview").removeClass("col-sm-2").addClass("col-sm-3");
                  $("#ads .adpreview .ad").addClass("bigad");
                }else{
                  $("#ads .adpreview").removeClass("col-sm-3").addClass("col-sm-2");
                  $("#ads .adpreview .ad").removeClass("bigad");
                }
              //
        })



        $(document).on("change", ".filter input[type='checkbox']", function(){
            var _bp = $(this).attr("data-bp");
            if($(this).is(":checked")){
                queries.push(_bp);
            }else{
              queries = $.grep(queries, function(value) {
              return value != _bp;
              });
            }
            $("#q_queries_cont").val(queries)
            // $("#ad_search").submit();

        })

    })


    $("#accept").on("click", function(){
      localStorage.setItem("disclaimer", true);
      window.location.href="/";
    })


    utils.get({
      url: "/cities.json",
      callback: function(data){
          $("#q_address_cont").typeahead({ source:data });
      }
    })

    if(utils.params("r")){
      window.location.href = "/?around="+utils.params("around")+"&radar=50#ads"
    }

    $(".adpreview").on("click", function(){
      if($(this).attr("data-location")){
          window.location.href=$(this).attr("data-location");
      }
    })

    // utils.get({
    //     url: "/annunci/by_zone.json",
    //     callback: function(res){
    //       $.each(res,function(index,r){
    //         console.log(r)
    //         var _a = $("<a />").addClass("col-sm-4").attr({
    //             "href" : "/<%= params[:category] || AdCategory.all.first.name.downcase%>/"+r.base+"/annunci?r=true"
    //         }).html(r.base+"("+r.amount+")").appendTo("#allcitiescontainer");
    //       })
    //     }
    // })

    // if(!localStorage.getItem("disclaimer")){
    //   $('#disclaimer-to').magnificPopup({
    //     type:'inline'
    //   }).trigger("click");
    // }

    $(document).on("click", "#showall", function(){
       if($("#allcities").attr("data-collapsed") == "si"){
        $("#allcities")
        .removeClass("coll")
        .attr({
            "data-collapsed": "no"
        })
       }else{
        $("#allcities")
        .addClass("coll")
        .attr({
            "data-collapsed" : "si"
        })
      }

    })


    $("#toggleFilters").click(function() {
      // alert("SI")
    $('html, body').animate({
        scrollTop: 330
      }, 200);
    });

  </script>
<% end %>
