<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P7ZBRPC');</script>
  <!-- End Google Tag Manager -->
<meta name="google-site-verification" content="XoVoAnIZnURWulCrgFauY70A59PXsFNG9BAUbYQtnzs" />
  <% begin%>
    <%= Default.find_by_field("head").value.html_safe %>
  <% rescue%>
  <% end%>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title><%= yield :title%></title>
  <meta charset="utf-8">
  <meta name="description" content="<%= ActionView::Base.full_sanitizer.sanitize(Default.find_by_field("home_generico").value)%>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%if params[:controller] == "ad_categories"%>
  <META NAME="ROBOTS" CONTENT="NOINDEX">
    <%end%>
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-theme.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.minicolors', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'promin', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'magnific-popup', media: 'all' %>
  <%= javascript_include_tag 'jquery-1.11.0.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'classic', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'classic.date', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'lightslider.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'noty', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'datatables.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ekko-lightbox', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="dns-prefetch" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.promin', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.minicolors.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.backstretch.min' %>
  <%= javascript_include_tag 'bootstrap3-typeahead.min' %>
  <%= javascript_include_tag 'lightslider.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'picker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'picker.date', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'noty.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'datatables.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.blockUI', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'it_IT', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ekko-lightbox.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-rating-input', 'data-turbolinks-track' => true %>
  <script  type="text/javascript" rel="dns-prefetch" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOjhOAcp0fYHu2xUWhKRDFsGBN7v6nsHY&libraries=places"></script>
  <%= javascript_include_tag 'jquery.videoBG' %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
  <script type="text/javascript">
    gapi.load('auth2', function() {
      // Library loaded.
    });

  </script>
  <%= javascript_include_tag 'utils' %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= 'city_b' if params[:city]%> <%= params[:controller][0..5]%> <%=params[:category] || AdCategory.all.first.name.downcase%>" id="<%= params[:controller]%>_<%= params[:action]%>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7ZBRPC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <% begin%>
    <%= Default.find_by_field("after_body").value.html_safe %>
  <% rescue%>
  <% end%>


<div class="container-fluid fill">
  <%= render partial: "layouts/header" %>
  <div class="row" id="container">
    <%= yield %>
  </div>
  <div class = "row">
  <hr/>
  <%= render partial: "layouts/footer" %>
  </div>

</div>




<%= javascript_include_tag 'jquery.magnific-popup.min' %>
<%= yield :scripts %>
</body>
</html>
